<div class="user_card_body_class">

    <div class="user_divider_class">
        <p class="user_divider_title">Person Info</p>
    </div>
    <form [formGroup]="personalInfoForm" (ngSubmit)="personalInfoChangeSubmit(personalInfoForm)">
        <div class="flex flex-row space-x-1 mb-2">
            <div class="relative w-1/2">
                <input type="text" id="firstName" class="peer block py-1" placeholder=" " formControlName="firstName"
                    autocomplete="off" />
                <label for="firstName" class="input_text input_text_noautofil_shadow">FirstName</label>

                <div *ngIf="(personalInfoForm!.controls['firstName'].invalid && personalInfoForm!.controls['firstName'].touched)"
                    class="input_text_error">
                    <div *ngIf="personalInfoForm!.controls['firstName']?.errors?.['minlength']"> firstName minimum
                        length is 5 </div>
                    <div *ngIf="personalInfoForm!.controls['firstName']?.errors?.['required']"> firstName is
                        required
                    </div>
                </div>
            </div>

            <div class=" relative w-1/2">
                <input type="text" id="lastName" class="peer block py-1" placeholder=" " formControlName="lastName"
                    autocomplete="off" />
                <label for="lastName" class="input_text input_text_noautofil_shadow">Last Name</label>

                <div *ngIf="(personalInfoForm!.controls['lastName'].invalid && personalInfoForm!.controls['lastName'].touched)"
                    class="input_text_error">
                    <div *ngIf="personalInfoForm!.controls['lastName']?.errors?.['minlength']"> Last Name minimum
                        length
                        is 5 </div>
                    <div *ngIf="personalInfoForm!.controls['lastName']?.errors?.['required']"> Lats Name is required
                    </div>
                </div>
            </div>


        </div>


        <div>
            <button type="submit" class="user_button">Save</button>
            <button type="button" (click)="this.undoPersonInfo()" class="user_button">Undo</button>
        </div>
    </form>
    <app-popup-window></app-popup-window>
</div> 
