<form [formGroup]="registerationForm" (ngSubmit)="onSubmit(registerationForm)" class="my-3 space-y-3">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-gray-700 dark:text-white">
      Sign Up <span class="text-primary-500">!</span>
    </h2>
 </div>

  <button type="button" routerLink="/mydashboard"
    class="flex w-full items-center justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 hover:bg-gray-50 dark:border-night-500 dark:bg-night-700 dark:text-night-200 dark:hover:bg-night-600">
    <svg-icon src="assets/icons/google-logo.svg" [svgClass]="'h-6 w-6 mr-2'"> </svg-icon>
    Log in with Google
  </button>

  <div
    class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-gray-300 after:mt-0.5 after:flex-1 after:border-t after:border-gray-300 dark:before:border-night-500 dark:after:border-night-500">
    <p class="mx-4 mb-0 text-center text-xs text-gray-400 dark:text-night-400">or</p>
  </div>

  <div class="space-y-2 text-left px-4">
    <div class="relative">
      <input type="text" id="email" class="peer block py-1" placeholder=" " formControlName="email"  autocomplete="off"  />
      <label for="email" class="input_text input_text_noautofil_shadow">Email address</label>

      <div *ngIf="(field['email'].invalid && field['email'].touched)"
        class="input_text_error">
        <div *ngIf="field['email']?.errors?.['minlength']"> Email minimum length is 5 </div>
        <div *ngIf="field['email']?.errors?.['required']"> Email is required </div>
      </div>
    </div>

    <div class="relative">
      <div *ngIf="!isShowPassword()">
        <input type="password" id="password" class="peer block py-1" placeholder=" " formControlName="password"  autocomplete="off" 
          required />
        <label for="password" class="input_text">Password</label>
        <span class="absolute top-2.5 right-5 cursor-pointer text-gray-400 dark:text-night-300">
          <svg-icon src="assets/icons/outline/eye-off.svg" [svgClass]="'h-5 w-5'" (click)="toggleShowPassword()">
          </svg-icon>
        </span>
      </div>

      <div *ngIf="isShowPassword()">
        <input type="text" id="password" class="peer block py-1" placeholder=" " formControlName="password"  autocomplete="off"  required />
        <label for="password" class="input_text">Password</label>
        <span class="absolute top-2.5 right-5 cursor-pointer text-gray-400 dark:text-night-300">
          <svg-icon src="assets/icons/outline/eye.svg" [svgClass]="'h-5 w-5'" (click)="toggleShowPassword()">
          </svg-icon>
        </span>
      </div>

      <div *ngIf="(field['password']?.invalid && field['password']?.touched)"
        class="bg-red-100 rounded-lg py-1 px-2 m-2 text-xs text-red-700">
        <div *ngIf="field['password']?.errors?.['forbiddenString']"> password can not contain word:
          {{field['password'].errors?.['forbiddenString']}} </div>
        <div *ngIf="field['password']?.errors?.['required']"> password is required </div>
        <div *ngIf="field['password']?.errors?.['minlength']"> password minimum length is 5 characters </div>
        <div *ngIf="field['password']?.errors?.['maxlength']"> password maxmimum length is 10 characters </div>
      </div>


    </div>
    
    <span class="text-xs text-gray-400 dark:text-night-300">Use 5-10 characters with a mix of letters, numbers &
      symbols.</span>
    <div class="relative">
      <input type="password" id="confirm-password" class="peer block py-1" placeholder=" "
        formControlName="confirm_password" [ngClass]="{'is-invalid': field['confirm_password'].errors }"  autocomplete="off"  />
      <label for="confirm-password" class="input_text"> Confirm Password</label>
      <div class="input_text_error"
        *ngIf="field['confirm_password'].errors?.['passwordMisMatch']"> password and confirm_password mismatch </div>
    </div>

    <div class="relative">
      <input type="text" id="firstName" class="peer block py-1" placeholder=" " formControlName="firstName" autocomplete="off" required />
      <label for="firstName" class="input_text"> First Name</label>
      <div *ngIf="(field['firstName'].invalid && field['firstName'].touched)"
        class="input_text_error"> 
        <div *ngIf="field['firstName']?.errors?.['required']"> firstName is required </div>
      </div>

    </div>
    <div class="relative">
      <input type="text" id="lastName" class="peer block py-1" placeholder=" " formControlName="lastName" autocomplete="off" required />
      <label for="lastName" class="input_text">Last Name</label>
      <div *ngIf="(field['lastName'].invalid && field['lastName'].touched)"
        class="bg-red-100 rounded-lg py-1 px-2 m-2 text-xs text-red-700">
        <div *ngIf="field['lastName']?.errors?.['required']"> Last Name is required </div>
      </div>

    </div>

    <div class="grid grid-cols-4 gap-4 items-center">
      <div class="ml-2 block text-sm font-semibold text-gray-600 dark:text-night-200">Gender </div>

      <div class="custom-control custom-radio">
        <input id="na" type="radio" class="custom-control-input" name="gender" formControlName="gender" value="NA"
          checked>
        <label class="ml-2 text-xs font-light text-gray-400 dark:text-night-200" for="na">Un-Known</label>
      </div>

      <div class="custom-control custom-radio">
        <input id="male" type="radio" class="custom-control-input" name="gender" formControlName="gender" value="MALE"
          checked>
        <label class="ml-2 text-xs font-light text-gray-400 dark:text-night-200" for="male">Male</label>
      </div>

      <div class="custom-control custom-radio">
        <input id="female" type="radio" class="custom-control-input" name="gender" formControlName="gender"
          value="FEMALE" checked>
        <label class="ml-2 text-xs font-light text-gray-400 dark:text-night-200" for="female">Female</label>
      </div>

      <div class="ml-2 block text-sm font-semibold text-gray-600 dark:text-night-200">User Type</div>

      <div class="custom-control custom-radio">
        <input id="student" type="radio" class="custom-control-input" name="groupType" formControlName="groupType"
          value="STUDENT" checked>
        <label class="ml-2 text-xs font-light text-gray-400 dark:text-night-200" for="na">Stuent</label>
      </div>

      <div class="custom-control custom-radio">
        <input id="parent" type="radio" class="custom-control-input" name="groupType" formControlName="groupType"
          value="PARENT" checked>
        <label class="ml-2 text-xs font-light text-gray-400 dark:text-night-200" for="male">Parent</label>
      </div>


    </div>



  </div>

  <div class="grid grid-cols-4 gap-2">
    <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500"></div>
    <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500"></div>
    <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500"></div>
    <div class="h-1 rounded-sm bg-gray-200 dark:bg-night-500"></div>
  </div>

  <div class="flex items-center justify-between space-x-3">
    <div class="flex items-center">
      <input id="acceptTerm" name="acceptTerm" type="checkbox" formControlName="acceptTerm" />
      <label for="acceptTerm" class="ml-2 block text-xs text-gray-400 dark:text-night-200">
        I Accept the
        <a class="font-medium text-primary-500 hover:text-primary-400"> Terms </a>
      </label>
    </div>
  </div>

  <!-- Submit Button -->
  <div *ngIf="isReadySubmit()">
    <button type="submit" [disabled]="registerationForm.invalid"
      class="group relative mb-5 flex w-full justify-center rounded-md border border-transparent bg-primary-500 
            py-2 px-4 text-xs font-medium text-white focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 hover:bg-primary-400">
      Sign up
    </button>
  </div>

  <div *ngIf="!isReadySubmit()">
    <button type="button" class="group relative mb-5 flex w-full justify-center rounded-md border border-transparent bg-gray-200
            py-2 px-4 text-xs font-medium text-white">
      Sign up
    </button>
  </div>

  <!-- Sign-up -->
  <div class="text-sm text-gray-400 dark:text-night-200">
    Already have an Account? <a routerLink="/auth/sign-in" class="text-primary-500 hover:text-primary-400">Sign in</a>
  </div>
</form>

<app-popup-window></app-popup-window>