<div class="user_card_body_class">

    <div class="user_divider_class">
        <p class="user_divider_title">User Status</p>
    </div>
    <div class="flex relative space-x-2 ">
        <div class=" text-sm font-medium"> User Status: </div>
        <div class=" text-sm"> {{this.user?.userStatus}} </div>
    </div>
    <div class="flex relative space-x-2 mb-2">
        <div class=" text-sm font-medium"> Provider: </div>
        <div *ngIf="!isLocalUserAccount()" class=" text-sm"> {{this.user?.provider}} </div>
        <div *ngIf="isLocalUserAccount()" class=" text-sm"> Local DB User Account </div>
    </div>
    <div >

        <button *ngIf="isPending()" (click)="this.activateUser()" class="user_button">
            Activate User
        </button>


        <button *ngIf="isPending()" (click)="this.sendActivateToken()" class="user_button">
            Send Activate token
        </button>

        <button *ngIf="isActive()" (click)="this.deactivateUser()" class="user_button">
            Deactivate User
        </button>

        <button *ngIf="isDisable()" (click)="this.activateUser()" class="user_button">
            Enable User
        </button>

    </div>
    <app-popup-window></app-popup-window>
</div>

