<ul *ngIf="pager && pager.pages?.length" class="inline-flex -space-x-px text-xs">
    <li [ngClass]="{ disabled: pager.currentPage === 1 }" class="page-item">
        <a (click)="setPage(1)" class="page_link_previous">First</a>
    </li>
    <li [ngClass]="{ disabled: pager.currentPage === 1 }" class="page-item">
        <a (click)="setPage(pager.currentPage - 1)" class="page_link_middle">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{ active: pager.currentPage === page }" class="page-item">
        <a (click)="setPage(page)" class="page_link_middle">{{page}}</a>
    </li>
    <li [ngClass]="{ disabled: pager.currentPage === pager.totalPages }" class="page-item">
        <a (click)="setPage(pager.currentPage + 1)" class="page_link_middle">Next</a>
    </li>
    <li [ngClass]="{ disabled: pager.currentPage === pager.totalPages }" class="page-item">
        <a (click)="setPage(pager.totalPages)" class="page_link_next">Last</a>
    </li>
</ul>



   