<form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="my-3 space-y-3">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-gray-700 dark:text-white">Setup New Password</h2>
    <p class="text-sm text-gray-400 dark:text-night-200">
      Have you already reset the password ? <a class="text-primary-500" routerLink="/auth/sign-in"> Sign in</a>
    </p>
  </div>

  <div class="relative">
    <div *ngIf="!isShowPassword()">
      <input type="password" id="password" class="peer block py-1" placeholder=" " formControlName="password"  autocomplete="off" 
        required />
      <label for="password" class="input_text">Password</label>
      <span class="absolute top-2.5 right-5 cursor-pointer text-gray-400 dark:text-night-300">
        <svg-icon src="assets/icons/outline/eye-off.svg" [svgClass]="'h-5 w-5'" (click)="toggleShowPassword()">
        </svg-icon>
      </span>
    </div>

    <div *ngIf="isShowPassword()">
      <input type="text" id="password" class="peer block py-1" placeholder=" " formControlName="password"  autocomplete="off"  required />
      <label for="password" class="input_text">Password</label>
      <span class="absolute top-2.5 right-5 cursor-pointer text-gray-400 dark:text-night-300">
        <svg-icon src="assets/icons/outline/eye.svg" [svgClass]="'h-5 w-5'" (click)="toggleShowPassword()">
        </svg-icon>
      </span>
    </div>

    <div *ngIf="(field['password']?.invalid && field['password']?.touched)"
      class="bg-red-100 rounded-lg py-1 px-2 m-2 text-xs text-red-700">
      <div *ngIf="field['password']?.errors?.['forbiddenString']"> password can not contain word:
        {{field['password'].errors?.['forbiddenString']}} </div>
      <div *ngIf="field['password']?.errors?.['required']"> password is required </div>
      <div *ngIf="field['password']?.errors?.['minlength']"> password minimum length is 5 characters </div>
      <div *ngIf="field['password']?.errors?.['maxlength']"> password maxmimum length is 10 characters </div>
    </div>


  </div>
  
  <span class="text-xs text-gray-400 dark:text-night-300">Use 5-10 characters with a mix of letters, numbers &
    symbols.</span>
  <div class="relative">
    <input type="password" id="confirm-password" class="peer block py-1" placeholder=" "
      formControlName="confirm_password" [ngClass]="{'is-invalid': field['confirm_password'].errors }"  autocomplete="off"  />
    <label for="confirm-password" class="input_text"> Confirm Password</label>
    <div class="input_text_error"
      *ngIf="field['confirm_password'].errors?.['passwordMisMatch']"> password and confirm_password mismatch </div>
  </div>


  <!-- Submit Button -->
  <button
    type="submit"
    class="group relative mb-10 flex w-full justify-center rounded-md border border-transparent bg-primary-500 py-2 px-4 text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 hover:bg-primary-400">
    Submit
  </button>
</form>

<app-popup-window></app-popup-window>