<div class="flex flex-row my-0 float-right px-0" >
    <div class="text-xs font-semibold mr-1 my-1">Filter:</div>
    <div class=" mr-1">
        <select (change)="onChangeFilterField($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg 
                focus:ring-blue-500 focus:border-blue-500 block w-full py-0 px-6 dark:bg-gray-700 
                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let filterField of filterSelections" [value]="filterField.fieldName"
                class="border-b border-dashed border-gray-200 dark:border-night-500 hover:bg-slate-200">
                {{ filterField.displayName }}
            </option>
        </select>
    </div>

    <form [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm)"  class="basis-5/8 flex flex-row px-0" *ngIf="getFilterType() !='NA'">
        <div class=" mx-1" *ngIf="isFilterStringWithoutList()">
            <input type="text" id="filterString" class="peer block py-0" placeholder=" " formControlName="filterString"  autocomplete="off"  />
        </div>

        <div class=" mx-1" *ngIf="isFilterStringWithList()">
            <select (change)="onSelectedStatus($event)"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg 
                    focus:ring-blue-500 focus:border-blue-500 block w-full py-0 px-6 dark:bg-gray-700 
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option *ngFor="let status of optionalList" [value]="status"
                    class="border-b border-dashed border-gray-200 dark:border-night-500 hover:bg-slate-200">
                    {{ status }}
                </option>
            </select>
            <input type="text" id="filterString" class="peer block py-0" placeholder=" " formControlName="filterString"  autocomplete="off"  />
        </div>


        <div class=" mr-1 form-control flex flex-row" *ngIf="isFilterBoolean()">
            
              <span class="label-text mr-1 text-xs">Active:</span> 
              <input type="checkbox" class="checkbox" checked="checked" formControlName="filterBoolean"/>
            
        </div>

        <div class=" mr-1 flex flex-row" *ngIf="isFilterNumber()">
            <span class="label-text mr-1 text-xs">From:</span> 
            <input type="text" id="filterFrom" class="peer block py-0 mr-1" placeholder="From" formControlName="filterFrom"  autocomplete="off"  />
            <span class="label-text mr-1 text-xs">To:</span> 
            <input type="text" id="filterTo" class="peer block py-0" placeholder="To" formControlName="filterTo"  autocomplete="off"  />
        </div>    


        <div class="mx-1">
            <button type="submit"
                class="rounded-md bg-primary-500 text-xs hover:bg-primary-200 py-1 px-4 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
                Filter
            </button>
        </div>

    </form>

    
</div>

